html {
  font-size: 20px;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: PingFang SC, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.vh {
  visibility: hidden;
}
.oh {
  overflow: hidden;
}
.cursor {
  cursor: pointer;
}
.top-page {
  height: 500px;
  display: flex;
  display: -webkit-flex;
  /* Safari */
}
.top-page h1,
.top-page h2,
.top-page h3,
.top-page h4,
.top-page h5,
.top-page h6 {
  color: #fff;
  text-align: center;
  font-family: PingFang SC, "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: .009rem;
  font-weight: 400;
}
.top-page .container {
  flex-direction: column;
  justify-content: center;
}
.top-page .name {
  font-size: 40px;
  margin-top: 195px;
}
.top-page .slogan {
  font-size: 34px;
  margin-top: 60px;
}
.page-index {
  background: url("../image/index_background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.container-fluid {
  padding: 0;
}
.background-cover {
  background-color: rgba(31, 50, 103, 0.6);
  height: 100%;
  width: 100%;
}
.container h3 {
  margin-top: 100px;
  font-size: 40px;
  color: #333;
  text-align: center;
}
.container h4 {
  font-weight: normal;
  margin-top: 1.5rem;
  line-height: 1.2rem;
  font-size: 0.9rem;
  margin-bottom: 3rem;
  color: #666;
  text-align: center;
}
.page-download {
  box-shadow: 0 5px 5px 0 rgba(180, 180, 180, 0.15);
  height: 1048px;
}
.page-download .getWrapper {
  padding: 0;
  height: 60px;
  width: 204px;
  margin: 0 auto;
  margin-top: 1.8rem;
}
.page-download .getWrapper img {
  height: 100%;
  width: 100%;
}
.page-download .phone-wrapper {
  position: relative;
  height: 426px;
}
.page-download .phone-wrapper .img-wrapper {
  position: absolute;
}
.page-download .phone-wrapper .img-wrapper img {
  height: 100%;
  width: 100%;
}
.page-download .phone-wrapper .s9 {
  left: 9rem;
  height: 37rem;
  width: 20rem;
  z-index: 999;
}
.page-download .phone-wrapper .iphoneX {
  top: 2rem;
  height: 33.5rem;
  width: 19rem;
}
.page-download .download-button-wrapper {
  margin-top: 10rem;
}
.page-introduce {
  background: url("../image/background_product.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  padding-bottom: 4rem;
}
.page-introduce .list-item {
  height: 220px;
}
.page-introduce h3 {
  color: #fff;
  margin-bottom: 40px;
}
.page-introduce h6 {
  text-align: center;
  padding: 0;
  font-size: 0.9rem;
  color: #fff;
  font-weight: normal;
}
.page-introduce p {
  text-align: center;
}
.page-introduce .icon-wrapper {
  display: block;
  margin: 15px auto;
  text-align: center;
}
.page-introduce .icon-wrapper img {
  height: 90px;
  width: 90px;
}
.introduce-list {
  height: 770px;
  box-shadow: 0 5px 5px 0 rgba(180, 180, 180, 0.15);
}
.introduce-list .phone-wrapper {
  position: relative;
}
.introduce-list .phone-wrapper .img-wrapper {
  position: absolute;
}
.introduce-list .phone-wrapper .img-wrapper img {
  height: 100%;
  width: 100%;
}
.introduce-list h3 {
  text-align: left;
}
.introduce-list h3.visible-xs {
  font-size: 36px;
  text-align: center;
}
.introduce-list h4 {
  text-align: left;
  color: #666;
  line-height: 1.65em;
}
.introduce-list .image-1 {
  width: 18.5rem;
  height: 34rem;
  z-index: 999;
}
.introduce-list .image-2 {
  width: 17rem;
  height: 28.2rem;
}
.introduce-list .media {
  margin-bottom: 28px;
}
.introduce-list .media .media-left {
  height: 90px;
  width: 90px;
}
.introduce-list .media .media-left img {
  height: 90px;
  width: 90px;
}
.introduce-list .media .media-body p {
  color: #999;
}
.page-recode .image-1 {
  top: 20px;
}
.page-recode .image-2 {
  top: 80px;
  left: 13rem;
}
.page-info .image-1 {
  margin-top: 20px;
  left: 10rem;
}
.page-info .image-2 {
  top: 80px;
}
.page-download-2 {
  background-image: url(../image/dot_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 3rem 0;
  height: 540px;
}
.page-download-2 .download-2 {
  color: #fff;
  text-align: center;
}
.page-download-2 .download-2 h5 {
  font-size: 38px;
}
.page-download-2 .download-2 h6 {
  font-size: 22px;
}
.page-download-2 .img-wrapper {
  height: 180px;
  width: 180px;
  margin: 0 auto;
}
.page-download-2 .img-wrapper img {
  height: 100%;
  width: 100%;
}
.page-download-2 .download-wrapper {
  overflow: hidden;
  padding-top: 70px;
  width: 690px;
  margin: 0 auto;
}
.page-download-2 .download-wrapper .download-img {
  display: inline-block;
  height: 60px;
  width: 204px;
  margin-left: 10px;
  margin-right: 10px;
}
.page-download-2 .download-wrapper .download-img img {
  height: 100%;
  width: 100%;
}
.page-team {
  padding-bottom: 7rem;
  box-shadow: 0 3px 8px 3px rgba(180, 180, 180, 0.15);
}
.page-team h4 {
  margin-bottom: 140px;
}
.page-team .inner-box {
  position: relative;
  padding-bottom: 100%;
  background-color: #fff;
  -webkit-border-radius: 0.25rem;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 8px 3px rgba(180, 180, 180, 0.15);
}
.page-team .content {
  height: 100%;
  width: 100%;
  position: absolute;
}
.page-team .content .head-wrapper {
  height: 4rem;
  width: 4rem;
  margin: -2rem auto 0 auto;
  border-radius: 2rem;
  overflow: hidden;
}
.page-team .content .head-wrapper img {
  height: 100%;
  width: 100%;
}
.page-team .content span {
  display: block;
  text-align: center;
  font-size: 1.1rem;
}
.page-team .content h5 {
  text-align: center;
  font-size: 0.65rem;
  font-weight: normal;
  margin-top: 0.25rem;
}
.page-team .content p {
  padding: 0 0.8rem;
  font-size: 0.68rem;
  line-height: 1.75em;
}
.page-news {
  box-shadow: 0 5px 5px 0 rgba(180, 180, 180, 0.15);
  padding-bottom: 5rem;
}
.page-news h3 {
  margin-bottom: 100px;
}
.page-news .notFound {
  text-align: center;
  font-size: 20px;
  margin-top: 220px;
}
.page-news .nav-wrapper {
  border-bottom: 1px solid #999;
  margin-top: 40px;
  margin-bottom: 20px;
}
.page-news .nav-wrapper .tab {
  cursor: pointer;
  font-size: 34px;
  line-height: 70px;
  padding-left: 40px;
  padding-right: 40px;
  color: #999;
  display: inline-block;
}
.page-news .nav-wrapper .tab.active {
  color: #333;
  border-bottom: 1px solid #999;
}
.page-news .view-more {
  text-align: center;
  margin-top: 40px;
}
.page-news .view-more a {
  line-height: 40px;
  font-size: 18px;
  color: #203164;
}
.page-news .view-more a:hover {
  text-decoration: none;
}
.page-news .view-more a:link,
.page-news .view-more a:hover,
.page-news .view-more a:visited {
  color: #203164;
  text-underline: none;
}
.page-news .nav-picture {
  min-height: 500px;
  overflow-y: scroll;
}
.page-news .nav-video {
  min-height: 500px;
  overflow-y: scroll;
}
.page-news .media {
  display: block;
  margin-top: 0;
  padding: 40px 0;
  border-bottom: 1px solid #ddd;
}
.page-news .media .media-left {
  position: relative;
}
.page-news .media .media-left img {
  height: 200px;
  width: 275px;
}
.page-news .media .media-left .video-icon {
  position: absolute;
  left: 12px;
  top: 16px;
  height: 28px;
  width: 28px;
  padding: 6px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-radius: 5px;
  background-color: #03204f;
}
.page-news .media .media-body {
  padding-left: 20px;
}
.page-news .media .media-body .media-heading {
  font-size: 24px;
  line-height: 40px;
  color: #333;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 95%;
  display: block;
}
.page-news .media .media-body p {
  margin-top: 8px;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #333;
}
.page-news div#view-more {
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  color: #333;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  -ms-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.page-news div#view-more:hover {
  background-color: #ccc;
}
.page-news div.noting-more {
  margin-top: 40px;
  text-align: center;
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #333;
  display: none;
}
.page-news .content-box:hover {
  box-shadow: 0 0 8px 3px rgba(100, 100, 100, 0.2);
}
.page-join {
  padding-bottom: 50px;
}
.page-join .join-us {
  margin-bottom: 40px;
}
.page-join .recruitment-wrapper {
  list-style: none;
}
.page-join ul.recruitment {
  font-size: 0.8rem;
  line-height: 1.8rem;
  padding-left: 0;
  padding-bottom: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.page-join ul.recruitment li {
  font-size: 16px;
  color: #333;
  line-height: 36px;
  list-style: none;
}
.page-join .recruitment-wrapper li:not(:first-child) .recruitment-title {
  margin-top: -1px;
}
.page-join .recruitment-title {
  line-height: 100px;
  font-size: 28px;
  color: #09224f;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
.page-join .recruitment-title .gt {
  float: right;
  font-size: 40px;
  padding-right: 40px;
  color: #09224f;
  font-weight: 200;
}
.page-join .email-wrapper {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 4rem;
  font-size: 0.8rem;
  color: #a3a3a3;
}
.page-join .email-wrapper a,
.page-join .email-wrapper a:visited {
  color: #005ebc;
}
footer.footer {
  background-color: #1c3066;
}
footer.footer h1,
footer.footer h4 {
  color: #fff;
  padding-left: 3rem;
}
footer.footer h1 {
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  padding: 0;
  font-size: 40px;
}
footer.footer .col-sm-1 img {
  width: 100%;
}
footer.footer .phone {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
footer.footer .phone p {
  text-align: center;
  color: #b2b6c4;
  font-size: 0.8rem;
  line-height: 1rem;
}
footer.footer .phone p a:link,
footer.footer .phone p a:active,
footer.footer .phone p a:-webkit-any-link {
  color: #b2b6c4;
}
footer.footer .navbar-right {
  padding-right: .5rem;
}
footer.footer .navbar-right li:hover {
  background-color: transparent;
}
footer.footer .navbar-right li.current a {
  color: #f9ce46;
}
footer.footer .navbar-right li a {
  color: #b2b6c4;
}
footer.footer .brand {
  margin-top: 0.6rem;
  width: 12.5rem;
  height: 3.3rem;
}
footer.footer .brand img {
  height: 100%;
  width: 100%;
}
footer.footer .email-wrapper {
  text-align: center;
}
footer.footer .email-wrapper img {
  height: 30px;
}
footer.footer .copy {
  text-align: center;
  color: #b2b6c4;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 0.9rem;
}
.introduce-style .page-full-recode {
  background: url("../image/introduce_background.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}
.introduce-style h3 {
  color: #333;
}
.introduce-style .page-introduce {
  box-shadow: 0 5px 5px 0 rgba(180, 180, 180, 0.15);
  background: none;
}
.introduce-style .page-introduce h6 {
  color: #333;
}
.introduce-style .page-introduce p {
  color: #999;
}
.introduce-style .page-update {
  padding-top: 60px;
}
.introduce-style .page-update h1 {
  margin-bottom: 2rem;
}
.introduce-style .page-update .version-now {
  font-style: normal;
  font-size: 0.7em;
  color: #999;
}
.introduce-style .page-update .card-wrapper {
  height: 20rem;
  overflow: scroll;
  margin-bottom: 8rem;
}
.introduce-style .page-update .card-wrapper .one-card {
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
  color: #999;
}
.introduce-style .page-update .card-wrapper .one-card .top {
  margin-bottom: .6rem;
}
.introduce-style .page-update .card-wrapper .one-card .top .app-icon {
  height: 2rem;
  width: 2rem;
  margin-right: .6rem;
}
.introduce-style .page-update .card-wrapper .one-card .b {
  font-weight: bold;
  color: #666;
}
.introduce-style .page-update .card-wrapper .one-card .left {
  float: left;
  width: 28%;
}
.introduce-style .page-update .card-wrapper .one-card .left .version-code {
  font-size: 1.4rem;
}
.introduce-style .page-update .card-wrapper .one-card .left .date {
  font-size: 0.7rem;
}
.introduce-style .page-update .card-wrapper .one-card .right {
  overflow: hidden;
}
.introduce-style .page-update .card-wrapper .one-card .right .title {
  font-size: 1.4rem;
}
.page-team-index {
  height: auto;
}
.page-team-index .container h3.about-us {
  margin-top: 128px;
  margin-bottom: 38px;
}
.page-team-index .container h4.about-us-p {
  font-size: 32px;
  color: #333;
  font-weight: 300;
}
.page-team-index .container .hr {
  border-color: #dddddd;
  margin-bottom: 45px;
}
.page-team-index .container .img-wrapper {
  width: 100% ;
}
.page-team-index .container .img-wrapper img {
  height: 100%;
  width: 100%;
}
.page-company .company-title {
  margin-bottom: 0;
  color: #666;
}
.page-company .company-article {
  margin-top: 1rem;
  color: #666;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 820px;
}
.page-full-news .grid-wrapper {
  margin-top: 5rem;
  height: 19rem;
}
.page-full-news .grid-wrapper .left {
  position: relative;
  height: 100%;
}
.page-full-news .grid-wrapper .left img {
  width: 100%;
  height: 100%;
}
.page-full-news .grid-wrapper .right {
  height: 100%;
  background-size: 100%;
  overflow: hidden;
}
.page-full-news .grid-wrapper .right .wrapper {
  height: 100%;
  width: 100%;
}
.page-full-news .grid-wrapper .right .wrapper > div {
  width: 47.5%;
  height: 47.5%;
  float: left;
}
.page-full-news .grid-wrapper .right .right_1 {
  background-image: url('../image/news_bg_2.png');
  margin-bottom: 5%;
  margin-right: 5%;
}
.page-full-news .grid-wrapper .right .right_2 {
  background-image: url('../image/news_bg_3.png');
  margin-bottom: 5%;
}
.page-full-news .grid-wrapper .right .right_3 {
  margin-right: 5%;
  background-image: url('../image/news_bg_4.png');
}
.page-full-news .grid-wrapper .right .right_4 {
  background-image: url('../image/news_bg_5.png');
}
.page-download-index .img-wrapper {
  height: 200px;
  width: 200px;
  margin: 5.5rem auto 0 auto;
}
.page-download-index .img-wrapper img {
  height: 100%;
  width: 100%;
}
.page-news-index {
  background: url("../image/news-bg.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
}
.page-news-index h3.name {
  color: #fff;
  margin-top: 200px;
}
.page-news-index h4 {
  color: #fff;
}
.download-style .text-app {
  font-size: 40px;
  color: #333;
  text-align: center;
  line-height: 100px;
  padding-bottom: 30px;
  border-bottom: 1px solid #999;
}
.download-style .text-download {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}
.page-download-3 {
  padding-bottom: 20px;
}
.page-download-3 .text-app {
  margin-top: 10rem;
  color: #333;
}
.page-download-3 .text-des {
  margin-top: 1.6rem;
  margin-bottom: 2.4rem;
  color: #666;
}
.page-download-3 .download-wrapper {
  overflow: visible;
  padding-top: 70px;
  width: 690px;
  margin: 0 auto;
}
.page-download-3 .download-wrapper .download-img {
  display: inline-block;
  height: 60px;
  width: 204px;
  margin-left: 10px;
  margin-right: 10px;
}
.page-download-3 .download-wrapper .download-img img {
  height: 100%;
  width: 100%;
}
.page-download-3 .download-img img {
  height: 100%;
  width: 100%;
}
.page-download-3 .phone-wrapper {
  position: relative;
  height: 740px;
}
.page-download-3 .phone-wrapper .wrapper {
  width: 555px;
  margin: 0 auto;
  margin-top: 120px;
}
.page-download-3 .phone-wrapper .image-1 {
  width: 370px;
  height: 670px;
  margin-left: -140px;
}
.page-download-3 .phone-wrapper .image-2 {
  width: 320px;
  height: 564px;
}
.page-article {
  height: auto;
}
.page-article h3.title {
  text-align: left;
}
.page-article div.date {
  text-align: left;
  font-size: 16px;
  color: #666;
}
.page-article .doted {
  border-top: none;
  border-bottom: 3px dotted #999;
}
.page-content .img-wrapper {
  width: 100%;
}
.page-content .img-wrapper img {
  width: 100%;
}
.page-content .content {
  padding-top: 30px;
  padding-bottom: 20px;
  color: #666;
  font-size: 16px;
}
.page-content .content br {
  display: block;
}
.page-content br {
  margin-bottom: 40px;
}
.page-content-footer {
  padding-bottom: 60px;
}
.page-content-footer .doted {
  border-top: none;
  border-bottom: 3px dotted #999;
}
.page-content-footer p {
  text-align: right;
  line-height: 32px;
}
.page-dev {
  height: 600px;
  background: url("../image/dev_backgroud.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.page-dev .box {
  margin-top: 300px;
}
.page-dev .box h2 {
  font-size: 2rem;
  margin-top: 1em;
}
.page-dev .box h5 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2em;
}
.radius-shadow {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 12px 1px rgba(0, 0, 0, 0.4);
}
.text-shadow {
  text-shadow: 0.05em 0.05em 0.2em rgba(0, 0, 0, 0.5);
}
