html{
  font-size:20px;
  -webkit-text-size-adjust:none;
}

.oh{
  overflow: hidden;
}

.page-index {
  background: url("../image/page_index.png") no-repeat center;
  height: 986px;
  h1, h2, h3, h4, h5, h6 {
    color: #fff;
    text-align: center;
    //font-family:Verdana ,tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;;
    letter-spacing: .009rem;
    font-weight: 400;
  }
  .name {
    margin-top: 20rem;
  }
  .slogan {
    margin-top: 1.7rem;
  }
  .line {
    border-bottom: 1px solid #fff;
    margin: 1rem auto;
    width: 5rem;
  }
}

.container{
  h1 {
    margin-top:5.5rem;
  }
  h4 {
    font-weight: normal;
    margin-top: 1.5rem;
    line-height: 1.2rem;
    font-size: 0.9rem;
    padding-right: 2.5rem;
    margin-bottom: 4.5rem;
  }
}


.page-download {
  height: 34.7rem;
  .getWrapper {
    height: 3rem;
    width: 10.2rem;
    margin: 0 auto;
    margin-top: 1.8rem;
    img {
      height: 100%;
      width: 100%;
    }
  }
  .phone-wrapper {
    position: relative;
    .img-wrapper {
      position: absolute;
      img {
        height: 100%;
        width: 100%;
      }
    }
    .s9 {
      top: -8rem;
      left: 9rem;
      height: 37rem;
      width: 20rem;
    }
    .iphoneX {
      height: 33.5rem;
      width: 19rem;
    }
  }
}






.page-introduce {
  padding-bottom: 4.5rem;
  .img-wrapper {
    position: relative;
    img {
      width: 100%;
    }
    .title {
      font-size: 1.4rem;
      color: #fff;
      font-weight: normal;
      text-align: center;
      margin-top: -30%;
    }
  }
  .reverse-shadow {
    margin-top: 2.5rem;
    position: relative;
    .img-wrapper {
      transform: rotate(180deg);
      -ms-transform: rotate(180deg); /* IE 9 */
      -moz-transform: rotate(180deg); /* Firefox */
      -webkit-transform: rotate(180deg); /* Safari 和 Chrome */
      -o-transform: rotate(180deg); /* Opera */
    }
    height: 5rem;
    overflow: hidden;
  }
  .cover {
    height:5rem;
    width: 100%;
    position: absolute;

    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.4), #fff);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.4), #fff);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.4), #fff);
    background: linear-gradient(top, rgba(255, 255, 255, 0.4), #fff);
  }
  .view-all {
    display: block;
    width: 8rem;
    line-height: 2.5rem;
    margin: 3px auto;
    border-radius: 1.25rem;
    border:none;
    font-size: 1rem;
    background-color: #fff;
    box-shadow: 0 0 3px 2px rgba(180,180,180,0.15);
    text-align: center;
    margin-top: -1rem;
  }
}




.introduce-list{
  height:39rem;
  .phone-wrapper {
    position: relative;
    .img-wrapper {
      position: absolute;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .image-1{
    width:15.6rem;
    height:23.4rem;
    top:19rem;
    left:-11rem;
  }
  .image-2{
    width:15.6rem;
    height:24.6rem;
    top:7rem;
    left:5rem;
  }
}

.page-recode{
  background-color: #003594;
  h1,h4{
    color:#fff;
  }

  .image-1{
    width:15.6rem;
    height:23.4rem;
  }
  .image-2{
    width:15.6rem;
    height:24.6rem;
  }
}


.page-info{
  >.cover{
    height:100%;
    background-color: rgba(255,255,255,0.4);
  }
  background: url("../image/kLine.png") no-repeat;
  background-size: auto 28rem;
  background-position: center;
  .image-1{

    width:15.6rem;
    height:24rem;
  }
  .image-2{
    width:15.6rem;
    height:22.8rem;
  }
}



.page-wallet{
  background-color: #003594;
  h1,h4{
    color:#fff;
  }

  .image-1{
    top:16rem;
    width:15.6rem;
    height:19.9rem;
  }
  .image-2{
    top:19rem;
    width:15.6rem;
    height:17.4rem;
  }
}


.page-download-2{
  padding:1.8rem 0;
  background-color: #0E234E;
  .img-wrapper{
    margin:0 auto;
    height:9rem;
    width:29.4rem;
    img{
      height:100%;
      width:100%;
    }
  }
  .download-wrapper{
    overflow:hidden;
  }
  .download-img{
    img{
      height:100%;
      width:100%;
    }
  }
}


.page-team{
  padding-bottom: 7rem;
  box-shadow: 0 3px 8px 3px rgba(180, 180, 180, 0.15);

  .inner-box {
    position: relative;
    padding-bottom:100%;

    background-color: #fff;
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 8px 3px rgba(180, 180, 180, 0.15);
  }
  .content{
    height:100%;
    width:100%;
    position: absolute;
    .head-wrapper{
      height:4rem;
      width:4rem;
      margin:-2rem auto 0 auto;
      border-radius: 2rem;
      overflow: hidden;
      img{
        height:100%;
        width:100%;
      }
    }
    span{
      display: block;
      text-align: center;
      font-size: 1.1rem;
    }
    h5{
      text-align: center;
      font-size: 0.65rem;
      font-weight:normal;
      margin-top: 0.25rem;
    }
    p{
      padding:0 0.8rem;
      font-size:0.68rem;
    }
  }
}



.page-news{
  box-shadow: 0 5px 5px 0 rgba(180, 180, 180, 0.15);
  padding-bottom:5rem;
  .title{
    width:21rem;
  }
  .col-md-6{
    margin-bottom:3.2rem;
  }
  .content-box{
    overflow: hidden;
    padding:0.6rem;
    box-shadow: 0 0 8px 3px rgba(100, 100, 100, 0.2);

    .img-wrapper{
      height:7rem;
      width:12.5rem;
      img{
        height:100%;
        width:100%;
      }
    }
    .right{
      overflow: hidden;
      padding-left:0.6rem;
      h3{
        overflow:hidden;
        margin:0;
        margin-bottom:0.6rem;
      }
    }

  }

  .content-box:hover{
    box-shadow: 0 0 8px 3px rgba(100, 100, 100, 0.2);
  }
}




.page-join{
  .col-md-5,.col-md-7{
    padding:0;
  }
  ul.left-list{
    list-style: none;
    margin:0;
    padding:0;
    li{
      font-size:1.4rem;
      font-weight:400;
      color:#a3a3a3;
      line-height: 3.5rem;
    }
    li.active{
      font-size:1.9rem;
      color:#142a52;
    }
  }


  ul.right-list{
    p{
      margin:0;
    }
    padding-top: 4rem;
    font-size:0.8rem;
    line-height:1.8rem;
    .disc{
      list-style: disc;
    }
  }

  .email-wrapper{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 4rem;
    font-size: 0.8rem;
    color:#a3a3a3;
    a,a:visited{
      color:#005ebc;
    }
  }

}


footer.footer{
  background-color:#3b3d3f;
  h1,h4{
    color:#fff;
    padding-left:3rem;

  }
  .col-md-1{
    img{
      width:100%;
    }
  }
  .phone{
    margin-top:3.5rem;
    margin-bottom:3.5rem;
    p{
      text-align: center;
      color: #b2b6c4;
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }

  .navbar-right {
    padding-right:.5rem;
    li:hover{
      background-color: transparent;
    }
    li.current a {
      color: #f9ce46;
    }
    li a {
      color: #b2b6c4;
    }
  }
  .brand{
    margin-top: 0.6rem;
    width:12.5rem;
    height:3.3rem;
    img{
      height:100%;
      width:100%;
    }
  }

  .copy{
    color: #fff;
    margin-bottom: 4rem;
    font-size: 0.9rem;
  }

}




